<body>
  <header>
    <div class="header-container">
        <img src="./logoo.jpg" alt="Logo de la tienda" class="logo">
        <h1>Eunbyeol</h1>
    </div>
    <nav>
        <a href="http://localhost:4200/">Inicio</a>
        <a href="producto">Productos</a>
        <a href="carrito">Carrito</a>
        <a href="orden">Orden</a>
        <a href="login">Login</a>
    </nav>
  </header>

  <main>
    <h1>Productos Destacados</h1>

    <!-- Mostrar productos dinámicamente -->
    <section class="productos-grid">
      <div class="producto-card" *ngFor="let producto of productos">
        <img [src]="getImageUrl(producto.imagen_url)" [alt]="producto.nombre">
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>
        <p class="precio">{{ producto.precio | currency }}</p>
      
        <div class="cantidad">
          <label for="cantidad-{{ producto.id }}">Cantidad:</label>
          <input id="cantidad-{{ producto.id }}" type="number" min="1" [(ngModel)]="producto.cantidad" />
        </div>
      
        <button class="btn-add-cart" (click)="agregarAlCarrito(producto.id, producto.cantidad)">
          Añadir al carrito
        </button>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Eunbyeol | Todos los derechos reservados.</p>
  </footer>
</body>
