/* ======= Toolbar ======= */
.card {
    padding: 10px;
    
}

.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009b94;
    color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.custom-toolbar:hover {
    background-color: #007c7a;
    transform: translateY(-2px);
}

.toolbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toolbar-left p-button {
    background-color: transparent;
    border: none;
    color: white;
}

.toolbar-left p-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.toolbar-center input {
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
    transition: all 0.3s;
}

.toolbar-center input::placeholder {
    color: #777;
}

.toolbar-center input:focus {
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 155, 148, 0.5);
}

/* ======= Botones ======= */
p-button, p-splitbutton {
    border-radius: 20px;
    transition: all 0.3s;
}

p-button:hover, p-splitbutton:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 155, 148, 0.2);
}

/* ======= Logo ======= */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}



