
<div class="card custom-toolbar">
    <div class="toolbar-left">
        <img src="./logo.jpg" alt="Logo" class="logo">
        <p-button icon="pi pi-th-large" text severity="secondary" routerLink="/categoria"></p-button>
        <p-button icon="pi pi-shopping-cart" text severity="secondary" routerLink="/carrito"></p-button>
    </div>

    <div class="toolbar-center">
        <p-iconfield iconPosition="left">
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Buscar productos..." />
        </p-iconfield>
    </div>

    <div class="toolbar-right">
        <p-splitbutton icon="pi pi-user" [model]="perfilItems" text="Mi Perfil">
        </p-splitbutton>
    </div>
</div>
